.alert{
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #666;
    text-align: center;
    .great{
        margin: 0 auto;
        width: 400px;
        border: 1px solid #07c842;
        border-radius: 10px;
        padding: 40px 0;
        &__text{
            color: #fff
        }
    }
    .error{
        margin: 0 auto;
        width: 400px;
        border: 1px solid red;
        border-radius: 10px;
        padding: 40px 0;
        &__text{
            color: #fff;
        }
    }
}